{% extends "main.html" %}
{% block tabs %}
  {{ super() }}
  <style>.md-header{position:initial}.md-main__inner{margin:20}.md-content{display:none}@media screen and (min-width:60em){.md-sidebar--secondary{display:none}}@media screen and (min-width:76.25em){.md-sidebar--primary{display:none}}</style>
  <section class="mdx-container">
    <div class="md-grid md-typeset">
      <div class="mdx-hero">
        <div class="mdx-hero__image">
          <img src="/assets/images/logo.svg" alt="XZG" draggable="false" width="75%">
        </div>
        <div class="mdx-hero__content">
          <h1>XZG Firmware</h1>
          <a href="/features" title="Wiki" class="md-button md-button--primary">
            Features
          </a>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
{% block content %}{% endblock %}

