/* Виджет назначает height: 100% , что может привести к непредксказуемому результату, если вы этого не планровали */

html {
    height: auto !important;
}

/* Фиксируем позицию body, которую меняет панель гугла */

body {
    top: 0 !important;
    position: static !important;
}

/* Прячем панель гугла */

.skiptranslate {
    display: none !important;
}

/* Убираем подсветку ссылок */

.goog-text-highlight {
    background-color: inherit;
    box-shadow: none;
    box-sizing: inherit;
}
